<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
 
        <% products.forEach(product => { %>
         <a href="/products/<%= product.id %>">
         <div class="responsive  ">
         <div id="related-g-img" class="gallery d-flex  flex-column gap-2 p-2 position-relative border">
             <div class="discount px-2 py-1 bg-danger position-absolute top-0 start-0 text-white border-0 fs-5">49%</div>
             <img src="<%= product.image_url %>" alt="Forest">
             <div class="brand text-center fs-5 fw-semibold"><%= product.brand %></div>
             <div class="desc text-center text-secondary overflow-hidden   "><%= product.title %></div>
             <div class="price text-center fs-6 fw-bold text-danger">Rs <%= product.price %></div>
             <button class="add-to-cart btn btn-warning w-50 m-auto border"
             data-product-id="<%= product.id %>"
             data-product-title="<%= product.title %>"
             data-product-image="<%= product.image_url %>"
             data-product-price="<%= product.price %>">
         Add to Cart
     </button>
         </div>
     </div>
 </a>
 <% }) %>

</body>
</html>